{% extends "base.html" %}
{% load static %}
{% block title %}
    My Profile
{% endblock title %}
{% block extra_head %}
    <link rel="stylesheet" href="{% static 'css/profile.css' %}">
{% endblock extra_head %}
{% block content %}
    <div class="container mb-5">
        <div class="row justify-content-center">
            <h2 class="pt-5 pb-3 mb-4">Welcome {{ user.username }}!</h2>
            <div class="col-12 col-lg-6 d-flex flex-column align-items-center position-relative mb-4 mb-lg-0 py-3">
                <form id="profile-img-form" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <button id="profile-picture-btn"
                            type="button"
                            class="btn btn-primary"
                            onclick="document.getElementById('id_profile_picture').click();">
                        <svg aria-hidden="true"
                             stroke="currentColor"
                             stroke-width="2"
                             viewBox="0 0 24 24"
                             fill="none"
                             xmlns="http://www.w3.org/2000/svg">
                            <path stroke-width="2" stroke="#fffffff" d="M13.5 3H12H8C6.34315 3 5 4.34315 5 6V18C5 19.6569 6.34315 21 8 21H11M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V11.8125" stroke-linejoin="round" stroke-linecap="round">
                            </path>
                            <path stroke-linejoin="round" stroke-linecap="round" stroke-width="2" stroke="#fffffff" d="M17 15V18M17 21V18M17 18H14M17 18H20">
                            </path>
                        </svg>
                    </button>
                    <input id="id_profile_picture"
                           name="profile_picture"
                           type="file"
                           accept="image/jpeg,image/png,image/webp"
                           class="d-none"
                           onchange="this.form.submit()">
                </form>
                <img src="{% if profile_user.profile_picture %}{{ profile_user.profile_picture.url }}{% else %}{% static 'images/placeholder_profile.webp' %}{% endif %}"
                     id="profile-picture"
                     alt="{% if profile_user.profile_picture %}{{ profile_user.profile_picture.name }}{% else %}Profile picture placeholder{% endif %}"
                     width="280"
                     height="280"
                     class="rounded-circle mx-auto mb-4 d-inline-block" />
            </div>
            <div class="col-12 col-lg-6 d-flex flex-column align-items-center">
                <p class="mb-4">
                    Welcome to your profile page! Here you can view and manage your account details, bookings, and preferences. Feel free to explore and update your information as needed.
                </p>
                <div class="card border rounded p-4 w-100">
                    <h5 class="mb-3">Personal Details</h5>
                    <div class="mb-2">
                        <strong>Name:</strong> {{ profile_user.first_name }} {{ profile_user.last_name }}
                    </div>
                    <div class="mb-2">
                        <strong>Email:</strong> {{ profile_user.email }}
                    </div>
                    <div class="mb-2">
                        <strong>Username:</strong> {{ profile_user.username }}
                    </div>
                    <div class="mb-2">
                        <strong>Role:</strong> <span class="badge">Yoga {{ profile_user.get_role_display }}</span>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <h2 class="pt-5 pb-3">My Bookings</h2>
                <div class="card border rounded p-4 mb-4 d-inline-block">
                    {% if bookings %}
                        <ul class="list-group">
                            {% for booking in bookings %}
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div>
                                        <strong>{{ booking.yoga_class.name }}</strong>
                                        <br>
                                        {{ booking.yoga_class.description|truncatechars:100 }}
                                        <br>
                                        <small class="text-muted">{{ booking.yoga_class.start_time|date:"F j, Y, g:i a" }}</small>
                                    </div>
                                </li>
                            {% endfor %}
                        </ul>
                    {% else %}
                        <p>You have no upcoming bookings.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
