{% extends "base.html" %}
{% load static %}
{% block title %}
    Home
{% endblock title %}
{% block content %}
    <section class="hero-video-wrapper overflow-hidden "
             aria-label="Hero section video background">
        <video class="hero-video"
               autoplay
               muted
               loop
               playsinline
               alt="studio_yoga_practice"
               aria-label="studio_yoga_practice"
               title="studio_yoga_practice">
            <source src="{% static 'videos/studio_yoga_practice.webm' %}"
                    type="video/webm" />
            Your browser does not support the video tag.
        </video>
        {% comment %} <div class="hero-overlay"></div> {% endcomment %}
        {% comment %} <div class="hero-content d-flex align-items-center">
            <div class="container text-white text-center text-md-start">
                <h1 class="display-4 fw-bold mb-3">Welcome to Our Yoga Studio</h1>
                <p class="lead mb-0">Find the perfect yoga class for you!</p>
            </div>
        </div> {% endcomment %}
    </section>
{% endblock content %}
